<% content_for :title, "Editing coin" %>

<h1>Editing coin</h1>

<%= render "form", coin: @coin %>

<br>

<div>
  <%= link_to translated_navigation_links(:show), @coin %> |
  <%= link_to translated_navigation_links(:back_coins), coins_path %>
</div>
