<% content_for :title, "New coin" %>

<h1 class="text-gradient mb-0" ><%= translate_text(:h1_new_coin)%></h1>

<%= render "form", coin: @coin %>

<br>

<div>
  <%= link_to translated_navigation_links(:back_coins), coins_path, class: "btn btn-outline-primary flex-grow-1"  %>
</div>
